@page
@using DSD601CalculatorASP.Operations
@model IndexAModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Calculator </h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <div class="row">
                    <label asp-for=@Model.NumberA class="col-lg-2"></label>
                    <input type="number" asp-for=@Model.NumberA class="col-lg-2" />
                </div>
                <div class="row">
                    <label asp-for=@Model.NumberB class="col-lg-2"></label>
                    <input type="number" asp-for=@Model.NumberB class="col-lg-2" />
                </div>
                <div class="row">
                    <label asp-for=@Model.OperationType class="col-lg-2"></label>
                    <select asp-for=@Model.OperationType class="col-lg-2" asp-items="Html.GetEnumSelectList<EnumOperationType>()">
                    </select>
                </div>
                <div class="row">
                    <input type="submit" value="Submit" asp-action="Index" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">

        <div class="row">
            <label asp-for=@Model.Result class="col-lg-2"></label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for=@Model.Result />
        </div>
    </div>

</div>
